@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Rajdhani', sans-serif;
}

.time {
  font-size: 20vh;
  display: flex;
  justify-items: center;
}

button {
  border-radius: 5vh;
  height: 10vh;
  margin: 0.5vh;
  width: 20vh;
}